* {
    margin: 0px;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #eeeff1;
}

/* Header style */
header {
    display: flex;
    align-items: center;
    padding: 7px 30px;
    background-color: antiquewhite;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    padding: 10px 30px;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

header nav ul li:last-child a {
    background-color: #000000;
    color: #ffffff;
    border-radius: 8px;
}


/* Banner area style */
.banner-area-section {
    background-color: rgb(254, 242, 225)
}

.banner-area {
    display: flex;
    align-items: center;
    padding: 180px 10px;
    max-width: 1300px;
    margin: auto;
}

.banner-area .left {
    width: 40%;
    text-align: center;
    padding: 2%;
}

.banner-area .right {
    width: 60%;
    text-align: left;
    padding: 2%;
}

.banner-area .left img {
    border-radius: 20px;
}

.banner-area .right h1 {
    font-size: 80px;
    font-weight: 500;
    line-height: 90px;
}

.banner-area .right p {
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 1px;
}

/* career section style */
.career-section {
    background: linear-gradient(rgb(254, 242, 225), #eeeff1);
}

.career {
    display: flex;
    align-items: center;
    padding: 60px 10px 150px;
    max-width: 1300px;
    margin: auto;
}

.career .left {
    width: 50%;
    padding: 2%;
}

.career .left h1 {
    font-size: 42px;
    line-height: 80px;
}

.career .left p {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 1px;
}

.career .right {
    width: 50%;
    padding: 2%;
}

.career .right .skills-tags {
    border: 1px solid #929191;
    padding: 10px 15px;
    margin: 8px 10px;
    display: inline-block;
    background-color: #ffffff93;
    border-radius: 5px;
}

/* Working section style start  */
.work-with-me {
    align-items: center;
    padding: 80px 30px;
    max-width: 1300px;
    margin: auto;
}

.work-with-me h1 {
    font-size: 40px;
    font-weight: 500;
    width: 90%;
    margin: auto;
}

.working {
    display: flex;
    align-items: center;
    padding: 30px 0px;
}

.working .left {
    width: 25%;
    text-align: center;
}

.working .left img {
    border: 5px solid #929191;
    border-radius: 50%;
}

.working .right {
    width: 75%;
}

.working .right p {
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 1px;
}

/* contact section  */

.contact {
    max-width: 1200px;
    margin: auto;
}

.contact .iner-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #000000;
    padding: 100px 30px;
    margin-top: 80px;
    border-radius: 50px;
}

.contact .iner-section .left {
    width: 50%;
}

.contact .iner-section .left h1 {
    font-size: 71px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 100px;
}

.contact .iner-section .right {
    width: 50%;
}

.contact .iner-section .form .contact .iner-section .form label .contact .iner-section .form label p {
    margin-bottom: 10px;
}

.contact .iner-section .form label input {
    padding: 16px;
    margin: 13px 0px;
    width: 80%;
    height: 25px;
    font-size: 17px;
    border: none;
    border-radius: 6px;
}

.contact .iner-section .form label textarea {
    padding: 16px;
    margin: 13px 0px;
    width: 80%;
    font-size: 17px;
    border: none;
    border-radius: 6px;
}

.contact .iner-section .form label input[type="submit"]{
    min-height: 50px;
    font-size: 20px;
    background: #000000;
    color: #ffffff;
    width: 146px;
    border-radius: 7px;
    cursor: pointer;
}

